doctype html
html
  head
    include ../pug/include/ga.pug
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1.0')
    meta(property='og:image', content='favicon.png')
    link(href='favicon.png', rel='icon', type='image/png')
    meta(property='og:title', content='樂台計畫 : 大專院校民謠音樂比賽平台')
    meta(property='og:type', content='website')
    meta(property='og:description', content='請在LINE應用程式上開啟「好友」分頁，點選畫面右上方用來加入好友的圖示，\
    接著點選「行動條碼」，然後掃描此行動條碼')
    meta(name='description', content='請在LINE應用程式上開啟「好友」分頁，點選畫面右上方用來加入好友的圖示，\
    接著點選「行動條碼」，然後掃描此行動條碼')
    title 加入樂台計畫 Line App
    meta(http-equiv='refresh', content='0;url=https://line.me/R/ti/p/11FZvoRuwx')
  body
