@import "variables"
@import "functions"

#contact
  form
    display: flex
    flex-direction: column

    input, textarea
      border-radius: 0
      margin-bottom: 1rem
      padding: .5rem
      border: 0
      border-bottom: solid #ddd 3px
      &:focus
        outline: none
        border-color: #ccc
      color: #1e1e1e
      background-color: transparent

  .success
    +flex-center
    flex-direction: row
    margin-top: 3rem
    padding: 2rem
    border-radius: 15px
    img
      height: 3rem
      width: auto
      margin-right: 1rem
    span
      color: #777

  .contact-enter
    transform: translateY(2rem)
    opacity: 0
  .contact-leave-to
    transform: translateY(-2rem)
    opacity: 0
  .contact-enter-active, .contact-leave-active
    transition: all .4s 
  .contact-enter-to, .contact-leave
    transform: none
    opacity: 1
