@import "variables"
@import "functions"

footer
  background-color: #1e1e1e
  color: grey
  font-size: .8rem
  a
    color: lighten(grey, 10%)
    font-weight: bold
    &:hover
      color: lighten(grey, 20%)
