@import "variables"
@import "functions"

$header-logo-size: 5rem

header
  background: $btn-gradient
  padding: 5rem 0
  padding-top: 3rem + $nav-height
  .logo
    margin-bottom: 2rem
    h1
      font-size: $header-logo-size * .5
    .box
      width: $header-logo-size
      height: $header-logo-size

  h2
    color: rgba(white, .8)
    text-align: center
    font-size: 1.2rem
    font-weight: 500
    letter-spacing: 5px
    +gradient-text(linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%))
    opacity: .9
