@import "variables"
@import "functions"

$shrink-bg-color: rgba(#1e1e1e, 1)

#nav
  +py(1rem)
  background: rgba(white, 0)
  transition: all .3s
  .navbar-brand
    transition: all .2s
    opacity: 0
    img
      +wh(2rem)
      margin-right: .75rem
    span
      font-weight: 400
  &.shrink
    background: $shrink-bg-color
    backdrop-filter: blur(20px)
    .navbar-brand
      opacity: 1
      transform: none
  .divider
    height: .8rem
    width: 0
    display: inline-block
    border-left: 1px solid rgba(#eee, .3)
    margin: 0 .75rem
    vertical-align: middle
  img.facebook-icon
    height: 1rem
    width: auto
    opacity: .5
    vertical-align: middle
    &:hover
      opacity: 1
  a
    cursor: pointer

@media (max-width: 767.98px)
  #nav
    &.shrink
      background: $shrink-bg-color
    .divider
      height: 0
      width: 100%
      border-bottom: 1px solid rgba(#eee, .3)
      margin: .5rem 0
    .navbar-content
      transition: all .3s
      position: fixed
      top: 0
      left: 0
      background-color: $shrink-bg-color
      height: 100%
      min-width: 18rem
      padding: .5rem
      overflow: scroll
      ul.navbar-nav
        transition: all .4s
        padding-top: 2rem
        +px(.5rem)
      // 隱藏漢堡選單
      &.hide
        transform: translateX(-100%)
        ul.navbar-nav
          opacity: 0
          transform: translateX(-70%)
    .outside
      position: fixed
      top: 0
      left: 0
      +wh(100%)
      background: rgba($shrink-bg-color, .5)
      backdrop-filter: blur(20px)

    .outside-enter, .outside-leave-to
      opacity: 0
    .outside-leave, .outside-enter-to
      opacity: 1
    .outside-enter-active, .outside-leave-active
      transition: opacity .3s
