@import "variables"
@import "functions"

$shrink-bg-color: rgba(#1e1e1e, 1)
$time-function: cubic-bezier(0.47,0,.4,.99)

#nav
  +py(0)
  min-height: 4.5rem
  background-color: transparent
  position: absolute
  left: 0
  right: 0
  z-index: 1000
  top: 4.5rem
  transform: translateY(-100%)
  .container
    position: relative
  .navbar-brand
    visibility: hidden
    img
      +wh(2rem)
      margin-right: .75rem
    span
      font-weight: 400
  &.shrink
    min-height: 4rem
    position: fixed
    background-color: $shrink-bg-color
    transition: transform .3s
    transform: none
    top: 0
    .navbar-brand
      visibility: visible
  .divider
    height: .8rem
    width: 0
    display: inline-block
    border-left: 1px solid rgba(#eee, .3)
    margin: 0 .75rem
    vertical-align: middle
  img.facebook-icon
    height: 1rem
    width: auto
    opacity: .5
    vertical-align: middle
    &:hover
      opacity: 1
  a
    cursor: pointer
    
  button.navbar-toggler
    +wh(3rem)
    padding: .5rem
    border: none
    border-radius: 100rem
    outline: none
    transition: background-color .2s
    &:active
      background-color: rgba(white, .2)

@media (max-width: 767.98px)
  #nav
    .divider
      height: 0
      width: 100%
      border-bottom: 1px solid rgba(#eee, .3)
      margin: .5rem 0
    .navbar-content
      z-index: 2000
      transition: all .25s $time-function
      transform-origin: right top
      position: absolute
      top: 3rem
      right: 0
      background-color: lighten($shrink-bg-color, 3%)
      padding: .5rem
      overflow: hidden
      ul.navbar-nav
        transition: all .2s $time-function .05s
        padding: .5rem
      // 隱藏漢堡選單
      &.hide
        transform: scaleY(0)
        opacity: 0
        ul.navbar-nav
          opacity: 0
          transform: translateY(-25%)
          transform-origin: top center
    button.navbar-toggler
      +flex-center