@import "logo"
@import "nav"
@import "button"
@import "header"
@import "footer"
@import "section"
@import "index"
@import "contact"

@media (max-width: 576px)
  html
    font-size: 14px

body
  font-family: $font-family

a:hover
  text-decoration: none

[v-cloak]
  display: none
