- 
  const partners = [
    { name: `北大北韻獎`, img: `https://firebasestorage.googleapis.com/v0/b/mc-integration-platform.appspot.com/o/coverPhoto%2FbestWin%2F20%2F1549817399690?alt=media&token=76bc730c-b4f9-474b-899c-951ea8358366`, link: `https://www.facebook.com/ntpubestwin/` }, 
    { name: `台科金絃獎`, img: `https://i.imgur.com/kQqOcLH.png`, link: `https://www.facebook.com/NTUSTGoldenString/` }, 
    { name: `大同銅釦獎`, img: `https://imgur.com/jYjqvVw.jpg`, link: `https://www.facebook.com/ttuchord/` }
  ]
