-
  const navItemsOnThisPage = [
    { name: `Line App`, tag: `#line-app` },
    { name: `最新消息`, tag: `#news` },
    { name: `合作夥伴`, tag: `#partner` },
    { name: `聯絡我們`, tag: `#contact` },
  ]

mixin nav-divider
  li(style={ display: `flex`, alignItems: `center` }): .divider

nav#nav.navbar.navbar-expand-md.navbar-dark.fixed-top(:class='{ shrink: isNavShrink }' v-cloak)
  .container
    a.navbar-brand(href='/') 
      img(src='img/logo/logo-white.svg' alt='MCIP Logo White')
      span 樂台計畫
    button.navbar-toggler.border-0(type='button' @click='isNavbarShow = !isNavbarShow')
      span.navbar-toggler-icon
    transition(name='outside')
      .outside(v-if='isNavbarShow' @click='isNavbarShow = !!0')
    .navbar-content(:class='{ hide: !isNavbarShow }')
      ul.navbar-nav
        //- 所有在本頁的連結項目
        each _ in navItemsOnThisPage
          li.nav-item: a.nav-link(v-scroll-to=`{ el: '${_.tag}', offset: -60 }` @click='isNavbarShow = false')=_.name
        +nav-divider
        li.nav-item
          a.nav-link(href='https://www.facebook.com/mcipApp/' target='_blank' title='樂台計畫 Facebook 粉絲專頁')
            img.facebook-icon(src='img/facebook.svg')
            span.d-span.d-md-none.ml-3 Facebook 粉絲專頁
        +nav-divider
        li.nav-item: a.nav-link(href='https://manage.mcip.ml/') 社團管理
