-
  const navItemsOnThisPage = [
    { name: `LINE App`, tag: `#line-app` },
    { name: `最新消息`, tag: `#news` },
    { name: `合作夥伴`, tag: `#partner` },
    { name: `聯絡我們`, tag: `#contact` },
  ]

mixin nav-divider
  li(style={ display: `flex`, alignItems: `center` }): .divider

nav#nav.navbar.navbar-expand-md.navbar-dark(:class='{ shrink: isShrink.nav }' v-cloak)
  .container
    a.navbar-brand(href='/')
      img(src='img/logo/logo-white.svg' alt='MCIP Logo White')
      //- span 樂台計畫
    button.navbar-toggler(type='button' @click.stop='isNavbarShow = !isNavbarShow')
      fa(icon='bars')
    .navbar-content(:class='{ hide: !isNavbarShow }' ref='navbarContent')
      ul.navbar-nav
        //- 所有在本頁的連結項目
        each _ in navItemsOnThisPage
          li.nav-item: a.nav-link(v-scroll-to=`{ el: '${_.tag}', offset: -60 }` @click='isNavbarShow = false')=_.name
        +nav-divider
        li.nav-item
          a.nav-link(href='https://www.facebook.com/mcipApp/' target='_blank' title='樂台計畫 Facebook 粉絲專頁')
            img.facebook-icon(src='img/facebook.svg')
            span.d-span.d-md-none.ml-3 Facebook 粉絲專頁
