script(src='//static.zotabox.com/9/f/9fccee64ff3ae80ada19da0e463cce9c/widgets.js' async) 
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
script(src=`index.js`)
