link(href='img/favicon.png' rel='icon' type='image/png')
link(href='https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,500,700,900&subset=chinese-traditional,japanese' rel='stylesheet')
link(href=`sass/style.sass` rel='stylesheet')
