mixin article-card-loader
  .col-12.col-lg-4
    .card.loader
      img.card-img-top(src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=')
      .card-img-overlay 
        .author
          img.avatar(src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=')
          .info #[.name] #[.date] 
      .card-body
        .card-text #[.bar] #[.bar] #[.bar.short]
