mixin article-card-loader
  .col-12.col-md-6.col-lg-4
    .card.loader
      img.card-img-top(src=lazyImgSrc)
      .card-img-overlay 
        .author
          img.avatar(src=lazyImgSrc)
          .info #[.name] #[.date] 
      .card-body
        .card-text #[.bar] #[.bar] #[.bar.short]
