- 
  const partners = [
    { name: `北大北韻獎`, img: `https://firebasestorage.googleapis.com/v0/b/mc-integration-platform.appspot.com/o/coverPhoto%2FbestWin%2F20%2F1549817399690?alt=media&token=76bc730c-b4f9-474b-899c-951ea8358366`, link: `https://www.facebook.com/ntpubestwin/`, facebookId: 208416899869, id: `bestWin` },
    { name: `東吳金弦獎`, img: `https://firebasestorage.googleapis.com/v0/b/mc-integration-platform.appspot.com/o/coverPhoto%2FSCUGoldenString%2F9%2F1551184185302?alt=media&token=7413315a-bc0b-4891-8b2c-3c6703997537`, facebookId: 1413508968903343, id: `SCUGoldenString` },
    { name: `大同銅釦獎`, img: `https://imgur.com/jYjqvVw.jpg`, link: `https://www.facebook.com/ttuchord/`, facebookId: 376229202395377, id: `ttuchord` },
    { name: `台科金絃獎`, img: `https://i.imgur.com/Z2CfBwf.jpg`, link: `https://www.facebook.com/NTUSTGoldenString/`, facebookId: 271032083070841, id: `NTUSTGoldenString` },
    { name: `銘傳銘音獎`, img: `https://i.imgur.com/SLBLKpx.jpg`, link: `https://www.facebook.com/mcuguitarclub12/`, facebookId: 764411143636154, id: `mcuguitarclub` },
    { name: `中臺科大笑盃`, img: `https://i.imgur.com/ks2Ojw1.jpg`, link: `https://www.facebook.com/SGmatch/`, facebookId: 1406435702947898, id: `SGmatch` },
    { name: `北醫金弦獎`, img: `https://i.imgur.com/253mRH0.jpg`, link: `https://www.facebook.com/tmuguitar/`, facebookId: 783557005039402, id: `tmuguitar` },
    { name: `亞東亞韻獎`, img: `https://i.imgur.com/0vgSGn1.jpg`, link: `https://zh-tw.facebook.com/OITMelodyAward/`, facebookId: 1374627745927359, id: `OITMelodyAward` },
  ]

  const description = `立刻加入樂台計畫 Line App，輕鬆快速報名各個大專院校音樂比賽，亦可關注即時賽況、查看第一手賽事資訊與參加抽獎活動，精彩訊息不漏接！`
