- 
  const partners = [
    { name: `北大北韻獎`, img: `https://firebasestorage.googleapis.com/v0/b/mc-integration-platform.appspot.com/o/coverPhoto%2FbestWin%2F20%2F1549817399690?alt=media&token=76bc730c-b4f9-474b-899c-951ea8358366`, link: `https://www.facebook.com/ntpubestwin/`, facebookId: 208416899869 }, 
    { name: `東吳金弦獎`, img: `https://firebasestorage.googleapis.com/v0/b/mc-integration-platform.appspot.com/o/coverPhoto%2FSCUGoldenString%2F9%2F1551184185302?alt=media&token=7413315a-bc0b-4891-8b2c-3c6703997537`, facebookId: 1413508968903343 }, 
    { name: `台科金絃獎`, img: `https://i.imgur.com/kQqOcLH.png`, link: `https://www.facebook.com/NTUSTGoldenString/`, facebookId: 271032083070841 }, 
    { name: `大同銅釦獎`, img: `https://imgur.com/jYjqvVw.jpg`, link: `https://www.facebook.com/ttuchord/`, facebookId: 376229202395377 }
  ]

  const description = `立刻加入樂台計畫 Line App，輕鬆快速報名各個大專院校音樂比賽，亦可關注即時賽況、查看第一手賽事資訊與參加抽獎活動，精彩訊息不漏接！`
