doctype html
html(lang='zh-Hant-TW')
  head
    include ../include/template.pug
    include ../include/variables.pug
    include ../include/ga.pug
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width,initial-scale=1.0')
    meta(property='og:image' content='img/favicon.png')
    meta(property='og:title' content='樂台計畫 - 大專院校民謠音樂比賽平台')
    meta(property='og:type' content='website')
    meta(property='og:description' content=description)
    meta(name='description' content=description)
    meta(name='author' content='Huang Xingqiao')
    title 樂台計畫 - 大專院校民謠音樂比賽平台
    include ../include/style.pug
    block style
  body
    #app
      top-progress-bar
      block content
        
    include ../include/footer.pug
    include ../include/script.pug
    block script