doctype html
html(lang='zh-Hant-TW')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width,initial-scale=1.0')
    link(href='img/logo.png' rel='icon' type='image/png')
    meta(name='description' content='樂台計畫')
    title 樂台計畫
  body
    #app
