extends pug/layout/layout.pug
block style
  link(href=`sass/_news.sass` rel='stylesheet')
block script
  script(src='news.js')
block content
  navbar(:items='[{ name: `樂台計畫首頁`, url: `/` },]')
  main#news
    header
      .container.news-title
        h1(v-if='data') 
          a.back-btn(href='/' cloak): fa(icon='angle-left')
          | {{ data.title }}
    section(v-if='data' v-cloak)
      .container
        .row.justify-content-center: .col-12.col-lg-10.col-xl-8
          .author
            img.avatar(src='https://i.imgur.com/INFIh4d.png')
            .info
              .name {{ data.author }}
              .date {{ convertTime(data.timestamp) }}
          img.img-fluid.mb-3(:src='data.image' v-if='data.image')
          div(v-html='convertMarkdown(data.article)')